.App {
  text-align: center;
  background-color: rgba(29, 28, 27, 0.822);
  position: absolute;
  box-sizing: border-box;
  width: 100%;
}

.home {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 50px;
  align-items: center;
  justify-content: center;
}

.searchBar {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-top: 20px;
}

.searchInput {
  width: inherit;
  text-align: center;
  grid-column-start: 2;
  grid-column-end: 4;
}

#searchButton {
  width: 200px;
  height: 30px;
  background-color: rgba(173, 236, 162, 0.76);
  font-weight: bold;
  font-size: small;
  grid-column-end: 5;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
